* {
  box-sizing: border-box; 
}

body {
  margin: 0; 
  padding: 0;
  font-weight: 500;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #373B44;
}

#primary_nav_wrap
{
	float: center;
}

#primary_nav_wrap ul
{
	list-style: none;
  	background-color: #373B44;
  	text-align: center;
  	padding: 0;
  	margin: 0;
	position:relative;
}

#primary_nav_wrap ul a
{
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:700;
	font-size:20px;
	padding:0 0px;
	transition: .3s background-color;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#primary_nav_wrap ul a.active{
  background-color:#fff;
  color:#444;
  cursor: default;
}


@media screen and (min-width: 600px) {
  #primary_nav_wrap li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
  }

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}
    
#primary_nav_wrap ul li.current-menu-item
{
	background:#373B44;
}

#primary_nav_wrap ul li:hover
{
	background:#005f5f;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#373B44;
	padding:0;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	font-size:15px;
	padding:15px 15px;
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%;
}

#primary_nav_wrap ul li:hover > ul
{
	display:inline-block;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0; 
    border-top: solid 5px;
    text-align: center;
}

hr.star-primary-w {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0; 
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f004";
    font-family: FontAwesome;
    color: #008B8B;
    position: relative;
    font-size: 2.5em;
    display: inline-block;
    padding: 0 .25em;
    top: -.5em;
}

hr.star-primary-w:after {
    content: "\f006";
    font-family: FontAwesome;
    color: #fff;
    position: relative;
    font-size: 2.5em;
    display: inline-block;
    padding: 0 .25em;
    top: -.5em;
}

hr.star-light,
hr.star-primary {
    border-color: #fff;
}

hr.star-primary-w {
    border-color: #008B8B;
}

hr.star-light:after,
hr.star-primary:after {
    color: #fff;
    background-color: #008B8B;
}

hr.star-primary-w:after {
    color: #008B8B;
    background-color: #fff;
}

img {
	margin: 100px;
}

.name {
	font-size: 2.5em;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;	
}

header,
section {
  width: 100%;
  padding: 0 7%;
  display: table;
  text-align: center;
  color: #fff;
  margin: 0;
  max-width: none;
  background-color: #008B8B;
  height: 100vh;
}

section[class="white"] {
  width: 100%;
  padding: 0 7%;
  display: table;
  text-align: center;
  color: #008B8B;
  margin: 0;
  max-width: none;
  height: 100vh;
  background-color: #fff;
}

footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #373B44;
  color: white;
  
  a {
    color: #FE4B74;
    font-weight: 500;
    text-decoration: none;
  }
}